// $(".flash_success, .flash_error").hide();
// $("#return_posts").html("<%= j render("post") %>").prepend("<h5>Post deleted!</h5>");
// $("h5").css("color", "green");

// setTimeout(function(){
//     $("h5").remove();
// }, 5000);