<% if @posts.count == 0 %>
	$("#return_table").html("<%= j render("table") %>").prepend(
	"<h5>No record found!</h5>");
<% else %>
	$("#return_table").html("<%= j render("table") %>").prepend(
	"<h5><%= pluralize(@posts.count, 'record') %> found!</h5>");
<% end %>

$("h5").css("color", "brown");

setTimeout(function(){
    $("h5").remove();
}, 5000);